[project]
name = "{{ project_slug }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = "==3.13.*"
dependencies = []

[project.scripts]
main = "{{ module_slug }}.main:main"

[tool.uv]
package = true

