"""
Copyright (c) {{ year }} Apache-2.0 license

@file
@author {{ author_name }}
@brief  Main entry point
"""

import sys

from {{ module_slug }}.main import main

if __name__ == "__main__":
    sys.exit(main())

